{% extends 'base.html' %}

{% block content %}

<h1>Sym Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ sym.name }}</span>
                <p>Gender: {{ sym.gender }}</p>
                <p>Age: {{ sym.age }}</p>
                <p>Occupation: {{ sym.occupation }}</p>
                <p>Description: {{ sym.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'syms_update' sym.id %}">EDIT</a>
                <a href="{% url 'syms_delete' sym.id %}">DELETE</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_feeding' sym.id %}" method="post">
            {% csrf_token %}
            {{ feeding_form.as_p }}
            <input type="submit" class="btn" value="Add Feeding" />
        </form>
        <br />
        {% if sym.fed_for_today %}
        <div class="card-panel teal-text center-align">
            {{sym.name}} has been fed all meals for the today.
        </div>
        {% else %}
        <div class="card-panel red-text center-align">
            {{sym.name}} might be hungry.
        </div>
        {% endif %}
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Meal</th>
                </tr>
            </thead>
            <tbody>
                {% for feeding in sym.feeding_set.all %}
                <tr>
                    <td>{{ feeding.date }}</td>
                    <td>{{ feeding.get_meal_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col s6">
        <h3>{{ sym.name }}'s Afflictions</h3>
        {% if sym.afflictions.count %}
        {% for affliction in sym.affliction.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ affliction.name }}
                </span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>Is healthy and has no afflictions!</h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>Available Afflictions</h3>
        {% if afflictions.count %}
            {% for affliction in afflictions.all %}
            <div class="card">
                <div class="card-content">
                    {{ affliction.name }}
                </div>
                <div class="card-action">
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn">Add</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h5>{{sym.name}} already has all afflictions available...go easy on them.</h5>
        {% endif %}
    </div>
</div> 
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    var selectEl = document.getElementById('id_meal');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}