{% extends 'base.html' %}

{% block content %}

<h1>Sym Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ sym.name }}</span>
        <p>Gender: {{ sym.gender }}</p>
        <p>Age: {{ sym.age }}</p>
        <p>Occupation: {{ sym.occupation }}</p>
        <p>Description: {{ sym.description }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'syms_update' sym.id %}">EDIT</a>
        <a href="{% url 'syms_delete' sym.id %}">DELETE</a>
    </div>
</div>

{% endblock %}